.latest-project__feature {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin: 10px 0;
}

.feature__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-left: 20px;
}

.feature__image {
  border: 3px solid black;
  border-radius: 50%;
  width: 66px;
  height: 66px;
  position: relative;

  img {
    position: absolute;
    height: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.feature__title {
  font-size: 18px;
  letter-spacing: 0px;
  color: rgb(34, 34, 34);
  font-family: "Montserrat Bold";
}

.feature__description {
  font-size: 16px;
  letter-spacing: 0px;
  color: rgb(119, 119, 119);
  font-family: "Roboto Slab";
}
