.culture-and-values {
  padding: 50px 0;
  background-color: #f9f9f9;
  height: 630px;

  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }
}

.culture__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 100%;
}

.culture__images {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.images__circle {
  border: 3px solid rgb(119, 119, 119);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: relative;
}

.images__image {
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.images__hr {
  border: 1px solid rgb(119, 119, 119);
  border-radius: 5px;
  width: 170px;
  margin: 0 30px;
}

.culture__description {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.description__wrapper {
  height: 100px;
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.description__title {
  font-size: 18px;
  letter-spacing: 0px;
  color: rgb(34, 34, 34);
  font-family: "Montserrat Bold";
  margin-bottom: 20px;
}

.description__title,
.description__text {
  text-align: center;
}

.description__text {
  font-size: 14px;
  letter-spacing: 0px;
  color: rgb(119, 119, 119);
  font-family: "Roboto Slab";
  text-align: center;
  line-height: 23px;
}
