.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.footer__up {
  background-color: #212121;
  padding: 50px 0;
  width: 100%;

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.footer__column {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.column__header {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 50px;
  color: rgb(255, 255, 255);
  font-family: "Montserrat Bold";
}

.footer__down {
  padding: 15px 0;
  width: 100%;

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
    position: relative;
  }
}

.footer__copyright {
  margin-right: 30px;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 22px;
  color: rgb(85, 85, 85);
  font-family: "Montserrat";
}

.footer__logos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .logo-wrapper {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    margin: 0 10px;
  }

  .logo {
    height: 40%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
