.header__background {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./images/header.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 600px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header__text {
  margin: 20px 0;
  font-size: 20px;
  letter-spacing: 0px;
  color: rgb(204, 204, 204);
  font-family: "Roboto Slab";
  text-align: center;
}

.header__text,
.header__title {
  color: white;
}

.header__title {
  font-size: 60px;
  letter-spacing: -3px;
  line-height: 65px;
  color: rgb(255, 255, 255);
  font-family: "Montserrat Bold";
  text-align: center;
}
