.intro__professional-services {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.services {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
}

.intro__just-relax {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  height: 600px;
}

.just-relax__gear {
  width: 33.33%;
  height: 100%;
  background-color: lightgray;
  background-image: url("./images/intro/gear.png");
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: calc(0.18 * 100vw);
}

.just-relax__content {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./images/intro/intro.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 66.66%;
  height: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;

  .section-title,
  .section-subtitle {
    text-align: left;
    color: white;
  }

  .section-title {
    line-height: initial;
    span {
      color: #7bc575;
    }
  }

  .section-subtitle {
    line-height: 24px;
    color: rgb(204, 204, 204);
    margin-bottom: 20px;
  }
}

.just-relax__subtitle {
  max-width: 800px;
}
