.intro__professional-services {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.services {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 300px;
}

.intro__just-relax {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  height: 500px;
}

.just-relax__gear {
  width: 33.33%;
  height: 100%;
  background-color: lightgray;
  background-image: url("./images/intro/gear.png");
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: calc(0.18 * 100vw);
}

.just-relax__content {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./images/intro/intro.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 66.66%;
  height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;

  span {
    color: white;
  }
}

.just-relax__subtitle {
  max-width: 800px;
}
