.latest-project {
  background-color: white;
  background-image: url("./images/latest-project/isometric-ipad-air.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 1000px 250px;
  padding: 100px 0;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

.latest-project__content {
  margin-top: 50px;
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 500px;
  align-self: flex-start;

  a {
    font-size: 16px;
    letter-spacing: 0px;
    color: rgb(124, 197, 118);
    font-family: "Montserrat Bold";
    text-decoration: none;
    margin-top: 20px;
  }
}

.latest-project__heading {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 75px;
  color: rgb(34, 34, 34);
  font-family: "Montserrat Bold";
}

.latest-project__paragraph {
  font-size: 16px;
  letter-spacing: 0px;
  color: rgb(119, 119, 119);
  font-family: "Roboto Slab";
  line-height: 24px;

  &:first-of-type {
    margin-bottom: 20px;
  }

  &:last-of-type {
    margin-top: 20px;
  }
}
