.latest-project {
  background-color: white;
  background-image: url("./images/latest-project/isometric-ipad-air.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 1200px 150px;
  padding: 50px 0;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

.latest-project__content {
  margin-top: 50px;
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 500px;
  align-self: flex-start;
}

.latest-project__heading {
  font-size: 20px;
  font-weight: bold;
}

.latest-project__paragraph {
  margin: 20px 0;
}