.partners {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 60px 0;
  }
}

.partners__image {
  height: 40px;
}
