.quotation {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.quotation--first {
  flex-direction: row;

  .quotation__text::before {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 23px solid #f9f9f9;
    position: absolute;
    content: "";
    left: -23px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.quotation--second {
  flex-direction: row-reverse;

  .quotation__text::before {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 23px solid #f9f9f9;
    position: absolute;
    content: "";
    right: -23px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.quotation__image {
  background-color: lightgray;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 3px solid black;
}

.quotation__text {
  width: 642px;
  height: 173px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;

  .text__body {
    font-size: 22px;
    line-height: 28px;
    color: rgb(119, 119, 119);
    font-family: "Roboto Slab";
    text-align: center;
  }

  .text__author {
    font-size: 18px;
    line-height: 36px;
    color: rgb(124, 197, 118);
    font-family: "Roboto Slab";
    text-align: center;
  }
}
