.quotation {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.quotation--first {
  flex-direction: row;
}

.quotation--second {
  flex-direction: row-reverse;
}

.quotation__image {
  background-color: lightgray;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 3px solid black;
}

.quotation__text {
  height: 150px;
  width: 700px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  padding: 20px;

  .text__body {
    font-size: 20px;
  }

  .text__author {
    margin-top: 10px;
    font-size: 18px;
    color: #5ed271;
  }
}
