html,
body,
div,
span,
applet,
object,
iframe,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
label,
legend,
p,
blockquote,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

body {
  line-height: 1;
  color: black;
  background: white; }

:focus {
  outline: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
th,
td {
  text-align: left;
  font-weight: normal; }

fieldset,
img {
  border: 0; }

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal; }

ol,
ul {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ""; }

blockquote,
q {
  quotes: "" ""; }

abbr,
acronym {
  border: 0; }

* {
  box-sizing: border-box; }

div.container {
  width: 100%;
  height: 100%; }
  @media only screen and (min-device-width: 960px) {
    div.container {
      width: 960px;
      margin: 0 auto; } }

.section-title {
  font-size: 40px;
  letter-spacing: -2px;
  line-height: 75px;
  color: #222222;
  font-family: "Montserrat Bold";
  text-align: center; }

.section-subtitle {
  font-size: 20px;
  letter-spacing: 0px;
  color: #777777;
  font-family: "Roboto Slab";
  text-align: center; }

* {
  font-family: sans-serif; }

.sans-serif {
  font-family: sans-serif; }

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/montserrat/Montserrat-Medium.otf"); }

@font-face {
  font-family: "Montserrat Bold";
  src: url("./fonts/montserrat/Montserrat-Bold.otf"); }

@font-face {
  font-family: "Roboto Slab";
  src: url("./fonts/roboto-slab/RobotoSlab-Regular.ttf"); }

.button-green {
  padding: 0 30px;
  height: 60px;
  border-radius: 30px;
  background-color: #7bc575;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 43px;
  color: white;
  font-family: "Montserrat Bold";
  text-align: center;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
  border: none; }
  .button-green:hover {
    cursor: pointer; }

.services__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 30%; }

.services__title {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 75px;
  color: #222222;
  font-family: "Montserrat Bold"; }

.services__description {
  font-size: 14px;
  letter-spacing: 0px;
  color: #777777;
  font-family: "Roboto Slab";
  text-align: center;
  line-height: 20px; }

.services__image {
  width: 55px;
  height: 55px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.just-relax__list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 30px; }
  .just-relax__list-item:last-of-type {
    margin-bottom: 20px; }
  .just-relax__list-item span {
    margin-left: 10px;
    font-size: 16px;
    letter-spacing: 0px;
    color: #cccccc;
    font-family: "Roboto Slab"; }

.latest-project__feature {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin: 10px 0; }

.feature__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-left: 20px; }

.feature__image {
  border: 3px solid black;
  border-radius: 50%;
  width: 66px;
  height: 66px;
  position: relative; }
  .feature__image img {
    position: absolute;
    height: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

.feature__title {
  font-size: 18px;
  letter-spacing: 0px;
  color: #222222;
  font-family: "Montserrat Bold"; }

.feature__description {
  font-size: 16px;
  letter-spacing: 0px;
  color: #777777;
  font-family: "Roboto Slab"; }

.quotation {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 50px; }

.quotation--first {
  flex-direction: row; }
  .quotation--first .quotation__text::before {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 23px solid #f9f9f9;
    position: absolute;
    content: "";
    left: -23px;
    top: 50%;
    transform: translateY(-50%); }

.quotation--second {
  flex-direction: row-reverse; }
  .quotation--second .quotation__text::before {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 23px solid #f9f9f9;
    position: absolute;
    content: "";
    right: -23px;
    top: 50%;
    transform: translateY(-50%); }

.quotation__image {
  background-color: lightgray;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 3px solid black; }

.quotation__text {
  width: 642px;
  height: 173px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative; }
  .quotation__text .text__body {
    font-size: 22px;
    line-height: 28px;
    color: #777777;
    font-family: "Roboto Slab";
    text-align: center; }
  .quotation__text .text__author {
    font-size: 18px;
    line-height: 36px;
    color: #7cc576;
    font-family: "Roboto Slab";
    text-align: center; }

.footer-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px; }

.item__image {
  height: 30px;
  width: 30px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 15px; }

.item__text {
  color: white;
  max-width: 80%; }

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100px !important; }

nav a {
  margin: 0 10px;
  font-size: 14px;
  line-height: 41px;
  color: #777777;
  font-family: "Montserrat";
  text-align: center;
  text-decoration: none; }
  nav a:first-child {
    margin-left: 0; }
  nav a:last-child {
    margin-right: 0; }

.nav__logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center; }
  .nav__logo img {
    width: 28px; }
  .nav__logo span {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 41px;
    color: #555555;
    font-family: "Montserrat Bold";
    margin-left: 5px; }

.header__background {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./images/header.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 600px; }

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; }

.header__text {
  margin: 20px 0;
  font-size: 20px;
  letter-spacing: 0px;
  color: #cccccc;
  font-family: "Roboto Slab";
  text-align: center; }

.header__text,
.header__title {
  color: white; }

.header__title {
  font-size: 60px;
  letter-spacing: -3px;
  line-height: 65px;
  color: white;
  font-family: "Montserrat Bold";
  text-align: center; }

.intro__professional-services {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 50px; }

.services {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0; }

.intro__just-relax {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  height: 600px; }

.just-relax__gear {
  width: 33.33%;
  height: 100%;
  background-color: lightgray;
  background-image: url("./images/intro/gear.png");
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: calc(0.18 * 100vw); }

.just-relax__content {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./images/intro/intro.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 66.66%;
  height: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start; }
  .just-relax__content .section-title,
  .just-relax__content .section-subtitle {
    text-align: left;
    color: white; }
  .just-relax__content .section-title {
    line-height: initial; }
    .just-relax__content .section-title span {
      color: #7bc575; }
  .just-relax__content .section-subtitle {
    line-height: 24px;
    color: #cccccc;
    margin-bottom: 20px; }

.just-relax__subtitle {
  max-width: 800px; }

.latest-project {
  background-color: white;
  background-image: url("./images/latest-project/isometric-ipad-air.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 1000px 250px;
  padding: 100px 0; }
  .latest-project .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }

.latest-project__content {
  margin-top: 50px;
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 500px;
  align-self: flex-start; }
  .latest-project__content a {
    font-size: 16px;
    letter-spacing: 0px;
    color: #7cc576;
    font-family: "Montserrat Bold";
    text-decoration: none;
    margin-top: 20px; }

.latest-project__heading {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 75px;
  color: #222222;
  font-family: "Montserrat Bold"; }

.latest-project__paragraph {
  font-size: 16px;
  letter-spacing: 0px;
  color: #777777;
  font-family: "Roboto Slab";
  line-height: 24px; }
  .latest-project__paragraph:first-of-type {
    margin-bottom: 20px; }
  .latest-project__paragraph:last-of-type {
    margin-top: 20px; }

.culture-and-values {
  padding: 50px 0;
  background-color: #f9f9f9;
  height: 630px; }
  .culture-and-values .container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center; }

.culture__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 100%; }

.culture__images {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%; }

.images__circle {
  border: 3px solid #777777;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: relative; }

.images__image {
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.images__hr {
  border: 1px solid #777777;
  border-radius: 5px;
  width: 170px;
  margin: 0 30px; }

.culture__description {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px; }

.description__wrapper {
  height: 100px;
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center; }

.description__title {
  font-size: 18px;
  letter-spacing: 0px;
  color: #222222;
  font-family: "Montserrat Bold";
  margin-bottom: 20px; }

.description__title,
.description__text {
  text-align: center; }

.description__text {
  font-size: 14px;
  letter-spacing: 0px;
  color: #777777;
  font-family: "Roboto Slab";
  text-align: center;
  line-height: 23px; }

.contact {
  background-color: #5ed271;
  height: 250px; }
  .contact .container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0; }
  .contact .section-title {
    color: white; }

.contact__button {
  background: none;
  color: white;
  border: 3px solid white;
  margin-top: 20px;
  font-weight: bolder;
  width: 173px;
  height: 46px;
  border-radius: 4px;
  border: 3px solid #ffffff;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 41px;
  font-family: "Montserrat Bold"; }
  .contact__button:hover {
    cursor: pointer; }

.clients {
  background-color: white;
  padding: 50px 0; }
  .clients .container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; }

.partners .container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 60px 0; }

.partners__image {
  height: 40px; }

.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; }

.footer__up {
  background-color: #212121;
  padding: 50px 0;
  width: 100%; }
  .footer__up .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start; }

.footer__column {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start; }

.column__header {
  color: white;
  font-size: 20px;
  font-weight: bold; }

.footer__down {
  padding: 20px 0;
  width: 100%; }
  .footer__down .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 70px; }

.footer__copyright {
  margin-right: 30px; }

.footer__logos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }
  .footer__logos .logo-wrapper {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    margin: 0 10px; }
  .footer__logos .logo {
    height: 40%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
