div.container {
  width: 100%;

  @media only screen and (min-device-width: 960px) {
    width: 960px;
    margin: 0 auto;
  }
}

.section-title {
  font-weight: bold;
  font-size: 30px;
}

.section-subtitle {
  font-size: 20px;
  margin-top: 10px;
}

.section-subtitle,
.section-title {
  font-family: sans-serif;
}
