@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Medium.otf");
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("../fonts/montserrat/Montserrat-Bold.otf");
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/roboto-slab/RobotoSlab-Regular.ttf");
}
